<h1>Edit a comment</h1>
<%= bootstrap_form_for [@post, @comment] do |form| %>
  <%= form.text_field :contents, value: @comment.contents %>
  <%= form.submit 'Edit comment', class: 'btn btn-lg btn-primary' %>
<% end %>