<h1>Add a comment</h1>
<%= bootstrap_form_for [@post, @comment] do |form| %>
  <%= form.text_field :contents, placeholder: 'This is the best messageboard ever!' %>
	<%= form.submit 'Add comment', class: 'btn btn-lg btn-primary' %>
<% end %>