<h1>Edit a post</h1>
<%= bootstrap_form_for @post do |form| %>
    <%= form.text_field :title, value: @post.title %>
    <%= form.text_area :contents, value: @post.contents %>
  <%= form.submit 'Update post', class: 'btn btn-lg btn-primary' %>
<% end %>