<div class="content">
  <div class="header">
    <h1>Welcome to the Messageboard</h1>
  </div>
  <div class="current_posts">
    <h3>Current Posts</h3>

    <!-- If there are no posts -->
    <% if @posts.any? %>
    <div class="post_list">
      <table>
        <tbody>
        <% @posts.reverse.each do |post| %>
          <tr class="post_box">
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= post.created_at %></td>
            <td>by <%= post.created_by %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <hr>
    <!-- If there are posts, display them in a list. -->
    <% else %>
      <p>There are currently no posts. You should create one!</p>
    <% end %>
      <%= link_to "Create a post", new_post_path %>
    </div>
  </div>
</div>