<h1>Create a new post</h1>
<%= bootstrap_form_for @post do |form| %>
		<%= form.text_field :title, placeholder: 'I\'m Bob!' %>
		<%= form.text_area :contents, placeholder: 'I like pie!' %>
	<%= form.submit 'Post to messageboard', class: 'btn btn-lg btn-primary' %>
<% end %>